body {
    font-family: "work sans" sans-serif;
    margin: 0px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/** small **/

@media (min-width: 768) {
    .container {
        width: 750px;
    }
}


/** meduim **/

@media (min-width: 992) {
    .container {
        width: 970px;
    }
}


/** large **/

@media (min-width: 1200) {
    .container {
        width: 1170px;
    }
}

.header {
    padding: 20px;
}

.header .logo {
    width: 60px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .container .icon span:nth-child(2):hover {
    width: 100%;
}

.header .container .icon link {
    position: relative;
}

.header .container .icon span {
    width: 30px;
    margin-bottom: 5px;
    height: 2px;
    background-color: black;
}

.header .container .icon span:first-child {
    width: 100%;
}

.header .container .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}

.header .container .icon span:nth-child(3) {
    width: 100%;
}

.header .link ul {
    background-color: #f9f9f9;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 200px;
    top: 60px;
    display: none;
    z-index: 1;
}

.header .link ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f9f9f9 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .link:hover ul {
    display: block;
}

.header .link ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}

.header .link ul li a:hover {
    padding-left: 25px;
}

.header .link ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.landing {
    background-image: url(../imag/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    color: #10cab7;
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}


/**features**/

.features {
    padding-top: 60px;
    background-color: #f9f9f9;
}

.features .container {
   display: flex;
   flex-wrap: wrap;
    grid-gap: 0px;
    margin: 0px 120px 0px;
}

.features .feat {
    padding: 50px;
    text-align: center;
    width: 350px;
}

.features i {
    color: #10cab7;
}

.features .container .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .container .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}


/** start services**/

.services {
    padding-bottom: 10px;
}

.services .container .special-heading {
    font-weight: 800;
    font-size: 120px;
    color: rgb(209, 206, 206);
    text-align: center;
}

.services .container .pargraph {
    line-height: 1.9;
    font-size: 22px;
    color: rgb(104, 104, 104);
    margin-top: -140px;
    text-align: center;
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-gap: 30px;
    margin: 80px 120px 0px;
}

.services .services-content .srv {
    display: flex;
    margin: 40px;
}

@media(max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .col .srv i {
    color: #10cab7;
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0;
}

.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image img {
    width: 260px;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
    content: "";
    width: 100px;
    height: calc(100% + 100px);
    background-color: #2c4755;
    top: -50px;
    position: absolute;
    right: 0px;
    z-index: -1;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}


/**start protflio**/

.protflio .protflio-head {
    font-weight: 800;
    font-size: 120px;
    color: rgb(209, 206, 206);
    text-align: center;
}

.protflio .p {
    line-height: 1.9;
    font-size: 22px;
    color: rgb(104, 104, 104);
    margin-top: -140px;
    text-align: center;
}

.protflio .container {
    padding-top: 5px;
    padding-bottom: 60px;
    background-color: #f9f9f9;
}

.protflio .protflio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin: 80px 120px 0px;
}

.protflio .protflio-content .card {
    background-color: white;
}

.protflio .protflio-content .card img {
    max-width: 100%;
}

.protflio .protflio-content .card .info {
    padding: 20px;
}

.protflio .portfolio-content .card .info h3 {
    margin: 0;
}

.protflio .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}


/**start about**/

.about .about-head {
    font-weight: 800;
    font-size: 120px;
    color: rgb(209, 206, 206);
    text-align: center;
}

.about .p {
    line-height: 1.9;
    font-size: 22px;
    color: rgb(104, 104, 104);
    margin-top: -140px;
    text-align: center;
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .image img {
    position: relative;
    width: 250px;
    height: 375px;
    margin: 80px;
    margin-top: 0;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image::before {
    content: "";
    width: 100px;
    height: 457px;
    background-color: #ebeced;
    position: absolute;
    margin-top: -45px;
    margin-left: 60px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    background-color: white;
    width: 100px;
    height: 300px;
    margin-top: -45px;
    position: absolute;
    left: 285px;
    border-left: 100px solid #10cab7;
    border-bottom: 80px solid #10cab7;
    z-index: -1;
}

@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .info {
    flex-basis: calc(100% - 500px);
    padding-left: 60px;
    padding-right: 160px;
}

.about .about-content .info p:first-of-type {
    font-weight: 800;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .info hr {
    width: 50%;
    display: inline-block;
    border-color: #10cab7;
}

.about .about-content .info p:last-of-type {
    line-height: 2;
    color: #777;
}


/**start contact**/

.contact {
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #f9f9f9;
}

.contact .contact-head {
    font-weight: 800;
    font-size: 120px;
    color: rgb(209, 206, 206);
    text-align: center;
}

.contact .p {
    line-height: 1.9;
    font-size: 22px;
    color: rgb(104, 104, 104);
    margin-top: -140px;
    text-align: center;
}

.contact .container .info {
    text-align: center;
}

.contact .container .label {
    font-weight: 900;
    font-size: 35px;
    letter-spacing: -2px;
    color: #2c4755;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: #10cab7;
    text-decoration: none;
    margin-top: -10px;
}

.contact .info .social {
    margin-top: 20px;
    letter-spacing: 1px;
}

.contact .info .social i {
    color: #2c4755;
}

@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}


/**start footer**/

.footer {
    text-align: center;
    background-color: #2c4755;
    color: white;
    height: 80px;
    font-weight: 800;
    padding-top: 30px;
    letter-spacing: 1px;
}

.footer span {
    color: #10cab7;
}